<!DOCTYPE html>
<html>
	<head>
	<title>Test Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">	
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>{{ student.student_first_name }} {{ student.student_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
            <a href="{%url 'startQuiz' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">QUIZE BAŞLA</a>
			<a href="{%url 'results' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST SONUÇLARI</a>
            <a href="{%url 'studentQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ SONUÇLARI</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black"> ÇIKIŞ YAP </a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>TEST OLUŞTUR</h1>
		</div>
		<hr>
		{% for chapter in chapters %}
			<div id="chapter{{chapter.id}}" class="w3-panel w3-row-padding" >
				<div class="w3-twothird w3-left-side">
					<input  type="checkbox" onclick="check(chap{{ chapter.id }})" id="chap{{ chapter.id }}">
                    <label style="padding-left: 5px"> {{chapter.chapter_name}}</label>
				</div>
                <br>
				<!--<div  class="w3-third w3-right">
					<button> + </button>
				</div>-->
				{% for section in sections %}
					{% if section.chapter_id.id == chapter.id %}
						<div id="section{{section.id}}" class="w3-panel w3-row-padding " style="padding-right:60px">
							<div class="w3-twothird w3-left-side">
								<input  type="checkbox" onclick="check(sec{{ section.id }})" id="sec{{ section.id }}">
                                <label style="padding-left: 5px"> {{section.section_name}} </label>
							</div>
                            <br>
							{% for subsection in subsections %}
								{% if subsection.section_id.id == section.id %}
										<div id="subsection{{subsection.id}}" class="w3-panel w3-row-padding " style="padding-right:60px">
											<div class="w3-twothird w3-left-side">
												<input  type="checkbox" id="sub{{subsection.id}}">
                                                <label style="padding-left: 5px">{{subsection.subsection_name}}</label>
											</div>
                                        <br>
										</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
		<br>
		<div style="padding-bottom: 10px">
            <h2 class="w3-button w3-gray w3-right" onclick="send_subsections()" >Testi Oluştur</h2>
        </div>
    <br>
	</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>
</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>
    function check(n) {
        var k=n.id.substring(0,4);
        if(document.getElementById(n.id).checked==true) {
            if (k == "chap") {
                var id = n.id.substring(4, 5)
                {% for section in sections %}
                    var i ={{ section.chapter_id.id }}
                    if (i == id) {
                        document.getElementById("sec" +{{section.id}}).checked = true;
                        {% for subsection in subsections %}
                            var i2 ={{ subsection.section_id.id }}
                            var i3 ={{ section.id }}
                            if (i2 == i3) {
                                document.getElementById("sub" +{{subsection.id}}).checked = true;
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
            else {
                var id = n.id.substring(3, 4)
                {% for subsection in subsections %}
                    var i ={{ subsection.section_id.id }}
                    if (i == id) {
                        document.getElementById("sub" +{{subsection.id}}).checked = true;
                    }
                {% endfor %}
            }
        }
        else{
            if (k == "chap") {
                var id = n.id.substring(4, 5)
                {% for section in sections %}
                    var i ={{ section.chapter_id.id }}
                    if (i == id) {
                        document.getElementById("sec" +{{section.id}}).checked = false;
                        {% for subsection in subsections %}
                            var i2 ={{ subsection.section_id.id }}
                            var i3 ={{ section.id }}
                            if (i2 == i3) {
                                document.getElementById("sub" +{{subsection.id}}).checked = false;
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
            else {
                var id = n.id.substring(3, 4)
                {% for subsection in subsections %}
                    var i ={{ subsection.section_id.id }}
                    if (i == id) {
                        document.getElementById("sub" +{{subsection.id}}).checked = false;
                    }
                {% endfor %}
            }
        }
    }
    function send_subsections() {
        var subsection_list = [];
        var count = 0;
        {% for subsection in subsections %}
            var x = document.getElementById("sub{{subsection.id}}").checked;
            if (x) {
                subsection_list[count] ={{subsection.id}};
                count = count + 1;
            }
        {% endfor %}
        if (subsection_list.length>0) {
            $.ajax({
                type: "GET",
                url: "/createTestQuestions/",
                data: {list_of_subsections: subsection_list},
                success: function (data) {
                    window.location.href = '/question';
                }
            });
        }
        else{
            alert("Lütfen konu seçiniz.");
        }
    }

</script>
</html>



