<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
        <script type="text/javascript" async  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<title>Soru</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third" >
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>{{ student.student_first_name }} {{ student.student_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
            <a href="{%url 'startQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZE BAŞLA</a>
			<a href="{%url 'results' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST SONUÇLARI</a>
            <a href="{%url 'studentQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ SONUÇLARI</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black"> ÇIKIŞ YAP </a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird" >
		<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
			<br><br>
			<h1 class="w3-center">Soru</h1>
			<br>
			<div>
				$${{ quiz_question.fixed_question_text}}$$
			</div>
            <br><hr>
                <div >
                <form action="">
                    <input  class="unchecked" onclick="clickRadio(a)" id="a" type="radio" value="A" name="options"/> \({{ quiz_question.fixed_option_a }}\)
                    <hr>
                    <input  class="unchecked" onclick="clickRadio(b)" id="b" type="radio" value="B" name="options"/> \({{ quiz_question.fixed_option_b }}\)
                    <hr>
                    <input  class="unchecked" onclick="clickRadio(c)" id="c" type="radio" value="C" name="options"/> \({{ quiz_question.fixed_option_c }}\)
                    <hr>
                    <input  class="unchecked" onclick="clickRadio(d)" id="d" type="radio" value="D" name="options"/> \({{ quiz_question.fixed_option_d }}\)
                    <hr>
                </form>
                </div>

			<br><br><br>
			<div class="w3-row-padding" >
				<div class="w3-container w3-center">
                    <h2 onclick="saveQuestionToQuiz()" class="w3-button w3-gray" >{{ button }}</h2>
				</div>
            </div>
            <br>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
  </div>
</div>
</body>
<style>
	input[type=radio]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>

  <script>
  function saveQuestionToQuiz() {
      var choosenOption;
      //var subsection_id = {{ quiz_question.subsection.id }};
      //var rightAnswer = "{{ quiz_question.fixed_question_answer }}";
      if (document.getElementById("a").checked) {
          choosenOption = document.getElementById("a").value;
      }
      else if (document.getElementById("b").checked) {
          choosenOption = document.getElementById("b").value;
      }
      else if (document.getElementById("c").checked) {
          choosenOption = document.getElementById("c").value;
      }
      else if (document.getElementById("d").checked) {
          choosenOption = document.getElementById("d").value;
      }
      $.ajax({
          type: "GET",
          url: "/saveQuestionToQuiz/",
          data: {choosenOption: choosenOption, question_id : {{ quiz_question.id }} },
          success: function (data) {
              window.location.href = '/quizQuestion';
          }
      });
  }
    function clickRadio(n) {
      if(document.getElementById(n.id).className=="checked"){
          document.getElementById(n.id).checked=false;
          document.getElementById(n.id).className="unchecked"
      }

      else if(document.getElementById(n.id).className=="unchecked"){
          document.getElementById(n.id).checked=true;
          document.getElementById(n.id).className="checked"
      }
  }

</script>

</html>