<!DOCTYPE html>
<html>
	<head>
	<title>Sonuçlarım</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">	
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>{{ student.student_first_name }} {{ student.student_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'createTest' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
            <a href="{%url 'startQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZE BAŞLA</a>
			<a href="{%url 'results' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST SONUÇLARI</a>
            <a href="{%url 'studentQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ SONUÇLARI</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black"> ÇIKIŞ YAP </a>
        </div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>SONUÇLARIM</h1>
		</div>
		<hr>
        {% if tests %}
        {% for test in tests %}
            <div class="w3-row-padding">
			<h3 class="w3-button w3-left w3-third" onclick="showDetail(detail{{ test.test_no }})" style="padding-right:90px">{{ forloop.counter }}. Test</h3>
                <div class="w3-row-padding w3-twothird" style="padding-top: 5px">
                    <div id="bar{{ test.test_no }}"></div>
                    <div id="detail{{ test.test_no }}" ></div>
                </div><br>
            </div><br>
        {% endfor %}
        {% endif %}
	</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>
	$(document).ready(function(){
		{% for test in tests %}
             var subsections=[];
             var trues=[];
             var falses=[];
             var blanks=[];
             bar = document.getElementById("bar{{test.test_no}}");
             var green = Number({{ test.true_number }});
             var red = Number({{ test.false_number }});
             var yellow = Number({{ test.blank_number }});
             var total = red+green+yellow;
             red=Number(red/total*100);
             green=Number(green/total*100);
             yellow=Number(yellow/total*100);
            {% if test.true_number %}
               bar.innerHTML += '<div class="w3-green w3-third" style="height:40px; width: '+green+'%"><p class="w3-center">D:{{ test.true_number }}</p></div>';
            {% endif %}
            {% if test.false_number %}
               bar.innerHTML += '<div class="w3-red w3-third" style="height:40px; width: '+red+'%"><p class="w3-center">Y:{{ test.false_number }}</p></div>';
            {% endif %}
            {% if test.blank_number %}
               bar.innerHTML += '<div class="w3-yellow w3-third" style="height:40px; width: '+yellow+'%"><p class="w3-center">B:{{ test.blank_number }}</p></div>';
            {% endif %}
            {% for question in testquestions %}
                {% if question.test.test_no == test.test_no %}
                    sub="{{question.question.subsection.subsection_name}}";
                    var inList=false;
                    for(i=0;i<subsections.length;i++){
                        if(subsections[i]==sub){
                            inList=true;
                            if("{{ question.answer }}"=="T"){
                                trues[i]=trues[i]+1;
                            }
                            else if("{{ question.answer }}"=="F"){
                                falses[i]=falses[i]+1;
                            }
                            else if("{{ question.answer }}"=="B"){
                                blanks[i]=blanks[i]+1;
                            }
                        }
                    }
                    if(inList==false){
                        subsections.push(sub);
                        if("{{ question.answer }}"=="T"){
                            trues.push(1);
                            falses.push(0);
                            blanks.push(0);
                        }
                        else if("{{ question.answer }}"=="F"){
                            falses.push(1);
                            blanks.push(0);
                            trues.push(0);
                        }
                        else if("{{ question.answer }}"=="B"){
                            blanks.push(1);
                            falses.push(0);
                            trues.push(0);
                        }
                    }
                {% endif %}
            {% endfor %}
            detail = document.getElementById("detail{{test.test_no}}");
            for(i=0;i<subsections.length;i++){
                detail.innerHTML+="<p>"+subsections[i]+": Doğru sayısı: "+ trues[i]+" Yanlış Sayısı: "+falses[i]+" Boş Sayısı: "+blanks[i]+"</p>"
            }
            detail.innerHTML+="<p>Test tarihi: "+ "{{ test.test_date }}" +"</p>"
            $("#detail{{test.test_no}}").hide();
        {% endfor %}

	});
	function showDetail(n) {
        $("#"+n.id).toggle();
    }

</script>
</html>



