<html>
	<head>
	<title>Hoşgeldiniz</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third" >
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>{{ student.student_first_name }} {{ student.student_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
            <a href="{%url 'startQuiz' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">QUIZE BAŞLA</a>
			<a href="{%url 'results' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST SONUÇLARI</a>
            <a href="{%url 'studentQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ SONUÇLARI</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black"> ÇIKIŞ YAP </a>
        </div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird" >
		<div class=" w3-white w3-card-4 w3-center w3-container w3-margin-center">
            <div class="w3-center" style="padding-top:90px;padding-bottom:90px">
			<h1>HOŞGELDİNİZ</h1>
            </div>
		</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>
</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>

	$(document).ready(function(){

	});

</script>
</html>



