<html>
	<head>
	<title>Quiz Sonuçları</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third" >
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>{{ student.student_first_name }} {{ student.student_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
            <a href="{%url 'startQuiz' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">QUIZE BAŞLA</a>
			<a href="{%url 'results' %}" class="w3-bar-item w3-button w3-padding w3-text-black">TEST SONUÇLARI</a>
            <a href="{%url 'studentQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ SONUÇLARI</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black"> ÇIKIŞ YAP </a>
        </div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>QUIZ SONUÇLARI</h1>
		</div>
		<hr>
        <div id="results"></div>
		</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>
</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>
	$(document).ready(function(){
	    quizes=[];
        trues=[];
        falses=[];
        blanks=[];
        {% for studentQuizQuestion in studentQuizQuestions %}
            existence = false
            for (i = 0; i < quizes.length; i++) {
                if (quizes[i] == "{{ studentQuizQuestion.quiz_question.quiz.name }}") {
                    existence = true;
                    {% for fquestion in fquestions %}
                        {% if fquestion.id == studentQuizQuestion.quiz_question.question.id %}
                            if("{{ fquestion.fixed_question_answer}}" == "{{ studentQuizQuestion.answer}}") {
                                trues[i]=trues[i]+1
                            }
                            else if("{{ studentQuizQuestion.answer}}" == "") {
                                blanks[i]=blanks[i]+1
                            }
                            else {
                                falses[i]=falses[i]+1
                            }
                        {% endif %}
                    {% endfor %}
                    {% for pquestion in pquestions %}
                        {% if pquestion.id == studentQuizQuestion.quiz_question.question.id %}
                            if("{{ pquestion.param_question_answer}}" == "{{ studentQuizQuestion.answer}}") {
                                trues[i]=trues[i]+1
                            }
                            else if("{{ studentQuizQuestion.answer}}" == "") {
                                blanks[i]=blanks[i]+1
                            }
                            else {
                                falses[i]=falses[i]+1
                            }
                        {% endif %}
                    {% endfor %}
                }
            }
            if (existence == false) {
                quizes.push("{{ studentQuizQuestion.quiz_question.quiz.name }}");
                {% for fquestion in fquestions %}
                    {% if fquestion.id == studentQuizQuestion.quiz_question.question.id %}
                        if("{{ fquestion.fixed_question_answer}}" == "{{ studentQuizQuestion.answer}}") {
                            trues.push(1);
                            blanks.push(0);
                            falses.push(0);
                        }
                        else if("{{ studentQuizQuestion.answer}}" == "") {
                            trues.push(0);
                            blanks.push(1);
                            falses.push(0);
                        }
                        else {
                            trues.push(0);
                            blanks.push(0);
                            falses.push(1);
                        }
                    {% endif %}
                {% endfor %}
                {% for pquestion in pquestions %}
                    {% if pquestion.id == studentQuizQuestion.quiz_question.question.id %}
                        if("{{ pquestion.param_question_answer}}" == "{{ studentQuizQuestion.answer}}") {
                            trues.push(1);
                            blanks.push(0);
                            falses.push(0);
                        }
                        else if("{{ studentQuizQuestion.answer}}" == "") {
                            trues.push(0);
                            blanks.push(1);
                            falses.push(0);
                        }
                        else {
                            trues.push(0);
                            blanks.push(0);
                            falses.push(1);
                        }
                    {% endif %}
                {% endfor %}
            }
        {% endfor %}
        for(i=0;i<quizes.length;i++){
             var green = trues[i];
             var red = falses[i];
             var yellow = blanks[i];
             var total = red+green+yellow;
             red=Number(red/total*100);
             green=Number(green/total*100);
             yellow=Number(yellow/total*100);
             $("#results").append('<div class="w3-row-padding"><h3 class="w3-button w3-left w3-third" onclick="showDetail('+i+')" style="padding-right:90px">'+ quizes[i] +'</h3><div class="w3-row-padding w3-twothird" style="padding-top: 5px"><div id="bar'+ i +'"></div><div id="detail'+ i +'"></div></div></div>');
             if(trues[i]>0){
               $("#bar"+i).append('<div class="w3-green w3-third" style="height:40px; width: '+green+'%"><p class="w3-center">D:'+trues[i]+'</p></div>');
             }
             if(falses[i]>0) {
                 $("#bar" + i).append('<div class="w3-red w3-third" style="height:40px; width: ' + red + '%"><p class="w3-center">Y:'+falses[i]+'</p></div>');
             }
             if(blanks[i]>0){
                 $("#bar" + i).append('<div class="w3-yellow w3-third" style="height:40px; width: ' + yellow + '%"><p class="w3-center">B:'+blanks[i]+'</p></div>');
             }
        }
        for(n=0;n<quizes.length;n++) {
            subsections = []
            trues = []
            falses = []
            blanks = []
            var date=""
            {% for stquizquestion in studentQuizQuestions %}
                if ("{{ stquizquestion.quiz_question.quiz.name }}" == quizes[n]) {
                    existence=false
                    for(i=0;i<subsections.length;i++) {
                        if(subsections[i]=="{{ stquizquestion.quiz_question.question.subsection.subsection_name }}") {
                            existence=true
                            {% for fquestion in fquestions %}
                                {% if stquizquestion.quiz_question.question.id == fquestion.id %}
                                    if("{{ stquizquestion.answer }}" == "{{ fquestion.fixed_question_answer }}"){
                                        trues[i]=trues[i]+1
                                    }
                                    else if("{{ stquizquestion.answer }}" =="" ){
                                        blanks[i]=blanks[i]+1
                                    }
                                    else{
                                        falses[i]=falses[i]+1
                                    }
                                {% endif %}
                                {% endfor %}
                            {% for pquestion in pquestions %}
                                {% if stquizquestion.quiz_question.question.id == pquestion.id %}
                                    if("{{ stquizquestion.answer }}" == "{{ pquestion.param_question_answer }}"){
                                        trues[i]=trues[i]+1
                                    }
                                    else if("{{ stquizquestion.answer }}" =="" ){
                                        blanks[i]=blanks[i]+1
                                    }
                                    else{
                                        falses[i]=falses[i]+1
                                    }
                                {% endif %}
                            {% endfor %}
                        }
                    }
                    if(existence == false) {
                        subsections.push("{{ stquizquestion.quiz_question.question.subsection.subsection_name }}")
                        {% for fquestion in fquestions %}
                            {% if stquizquestion.quiz_question.question.id == fquestion.id %}
                                if("{{ stquizquestion.answer }}" == "{{ fquestion.fixed_question_answer }}"){
                                    trues.push(1)
                                    blanks.push(0)
                                    falses.push(0)
                                }
                                else if("{{ stquizquestion.answer }}" =="" ){
                                    trues.push(0)
                                    blanks.push(1)
                                    falses.push(0)
                                }
                                else{
                                    trues.push(0)
                                    blanks.push(0)
                                    falses.push(1)
                                }
                            {% endif %}
                        {% endfor %}
                        {% for pquestion in pquestions %}
                            {% if stquizquestion.quiz_question.question.id == pquestion.id %}
                                if("{{ stquizquestion.answer }}" == "{{ pquestion.param_question_answer }}"){
                                    trues.push(1)
                                    blanks.push(0)
                                    falses.push(0)
                                }
                                else if("{{ stquizquestion.answer }}" == "" ){
                                    trues.push(0)
                                    blanks.push(1)
                                    falses.push(0)
                                }
                                else{
                                    trues.push(0)
                                    blanks.push(0)
                                    falses.push(1)
                                }
                            {% endif %}
                        {% endfor %}
                    }
                }
                date="{{ stquizquestion.solve_date }}"
            {% endfor %}
            console.log(subsections)
            for(i=0;i<subsections.length;i++){
                $("#detail" + n).append("<p>" + subsections[i] + ": Doğru sayısı: " + trues[i] + " Yanlış Sayısı: " + falses[i] + " Boş Sayısı: " + blanks[i] + "</p>");
            }
            $("#detail" + n).append("<p>Quiz Çözülme Tarihi: "+ date +"</p>")
            $("#detail" + n).hide()
        }
	});
	function showDetail(n){
	    $("#detail" + n).toggle();
    }
</script>
</html>



