<!DOCTYPE html>
<html>
	<head>
	<title>Anasayfa</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-center">
        <div class="w3-container" style="padding-top:100px;padding-bottom:30px;">
  		<a href="{%url 'studentLogin' %}"><h1 class="w3-button" style="background-color:#5F9EA0;width:40%;" >Öğrenci Girişi</h1></a>
	</div>
        <div class="w3-container" style="padding-bottom:30px;">
			<a href="{%url 'teacherLogin' %}"><h1 class="w3-button" style="background-color:#5F9EA0;width:40%;">Öğretmen Girişi</h1></a>
        </div>
        <div class="w3-container">
			<a href="{%url 'createAccount' %}"><h1 class="w3-button" style="background-color:#5F9EA0;width:40%;" >Kayıt Ol</h1></a>
        </div>
  </div><!-- The Grid -->

</div>

</body>
<style>
	.text, select {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.opt{
	    width: 40%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding:10px;
	}
</style>
<script>
	$(document).ready(function(){

	});
</script>
</html>