<!DOCTYPE html>
<html>
	<head>
	<title>Sonuçlarım</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">	
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>John Doe</h2>
			<h3>Bilgisayar Mühendisliği</h3>
			<h3>3. Sınıf</h3>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
			<a href="{%url 'results' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SONUÇLARIM</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
		<div class="w3-center" style="padding-top:50px;padding-bottom:30px;">
			<h1>SONUÇLARIM</h1>
		</div>
		<hr>
		<div class="w3-row-padding">
			<h3 class="w3-button w3-left w3-third" style="padding-right:90px">1. Test</h3>
			<div class="w3-row-padding w3-twothird" style="padding-top: 5px">
              <div class="w3-green w3-third" style="height:40px;width:60%"><p class="w3-center">D:6</p></div>
              <div class="w3-red w3-third" style="height:40px;width:30%"><p class="w3-center">Y:3</p></div>
              <div class="w3-yellow w3-third" style="height:40px;width:10%"> <p class="w3-center">B:1</p></div>
            </div><br>
		</div><br>
        <div class="w3-row-padding">
			<h3 class="w3-button w3-left w3-third" style="padding-right:90px">2. Test</h3>
			<div class="w3-row-padding w3-twothird" style="padding-top: 5px">
              <div class="w3-green w3-third" style="height:40px;width:40%"><p class="w3-center">D:4</p></div>
              <div class="w3-red w3-third" style="height:40px;width:40%"><p class="w3-center">Y:4</p></div>
              <div class="w3-yellow w3-third" style="height:40px;width:20%"> <p class="w3-center">B:2</p></div>
            </div><br>
		</div><br>
        <div class="w3-row-padding">
			<h3 class="w3-button w3-left w3-third" style="padding-right:90px">3. Test</h3>
			<div class="w3-row-padding w3-twothird" style="padding-top: 5px">
              <div class="w3-green w3-third" style="height:40px;width:70%"><p class="w3-center">D:7</p></div>
              <div class="w3-red w3-third" style="height:40px;width:10%"><p class="w3-center">Y:1</p></div>
              <div class="w3-yellow w3-third" style="height:40px;width:20%"> <p class="w3-center">B:2</p></div>
            </div><br>
		</div><br>
        <div class="w3-row-padding">
			<h3 class="w3-button w3-left w3-third" style="padding-right:90px">4. Test</h3>
			<div class="w3-row-padding w3-twothird" style="padding-top: 5px">
              <div class="w3-green w3-third" style="height:40px;width:40%"><p class="w3-center" >D:4</p></div>
              <div class="w3-red w3-third" style="height:40px;width:50%"><p class="w3-center">Y:5</p></div>
              <div class="w3-yellow w3-third" style="height:40px;width:10%"> <p class="w3-center">B:1</p></div>
            </div><br>
		</div><br>
		<div class="w3-row-padding">
			<h3 class="w3-button w3-left w3-third" style="padding-right:90px">5. Test</h3>
			<div class="w3-row-padding w3-twothird" style="padding-top: 5px">
              <div class="w3-green w3-third" style="height:40px;width:40%"><p class="w3-center">D:4</p></div>
              <div class="w3-red w3-third" style="height:40px;width:30%"><p class="w3-center">Y:3</p></div>
              <div class="w3-yellow w3-third" style="height:40px;width:30%"> <p class="w3-center">B:3</p></div>
            </div><br>
		</div><br>
	</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>

	$(document).ready(function(){
		
	
		
	});
</script>
</html>



