<html>
<head>
	<title>Soru Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
			<img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>QUIZ OLUŞTUR</h1>
		</div>
		<hr>
		{% for chapter in chapters %}
			<div id="chapter{{chapter.id}}" class="w3-panel w3-row-padding" >
				<div class="w3-twothird w3-left-side">
					<input  type="checkbox" onclick="check(chap{{ chapter.id }})" id="chap{{ chapter.id }}">
                    <label style="padding-left: 5px"> {{chapter.chapter_name}}</label>
				</div>
                <br>
				{% for section in sections %}
					{% if section.chapter_id.id == chapter.id %}
						<div id="section{{section.id}}" class="w3-panel w3-row-padding " style="padding-right:60px">
							<div class="w3-twothird w3-left-side">
								<input  type="checkbox" onclick="check(sec{{ section.id }})" id="sec{{ section.id }}">
                                <label style="padding-left: 5px"> {{section.section_name}} </label>
							</div>
                            <br>
							{% for subsection in subsections %}
								{% if subsection.section_id.id == section.id %}
										<div id="subsection{{subsection.id}}" class="w3-panel w3-row-padding " style="padding-right:60px">
											<div class="w3-twothird w3-left-side">
												<input  type="checkbox" id="sub{{subsection.id}}">
                                                <label style="padding-left: 5px">{{subsection.subsection_name}}</label>
											</div>
                                        <br>
										</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
		<br>
		<div style="padding-bottom: 10px">
            <h2 class="w3-button w3-gray w3-right" onclick="createManuelQuiz()"  >Manuel Quiz</h2>
            <h2 class="w3-button w3-gray w3-left" onclick="createRandomQuiz()" >Random Quiz</h2>
        </div>
        <br>
        </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>
<div id="popup3" class="w3-modal" style="z-index:4">
    <div class="w3-modal-content w3-animate-zoom" style="width: 40%">
       <div class="w3-container w3-padding" style="background-color:#B0C4DE;">
           <span onclick="document.getElementById('popup3').style.display='none'"
           class="w3-button w3-right w3-xxlarge"><i class="fa fa-remove" style="background-color:#B0C4DE;"></i></span>
       </div>
      <div class="w3-panel w3-opacity" style="padding-top: 20px">
            <div>
                <h4><b>Quiz Adı</b></h4>
                <input id="quizName" type="text">
            </div>
            <div>
                <h4><b>Son Tarih</b></h4>
                <input id="dueDate" type="date">
                <br><br>
            </div>
        <div id="subpop"></div>
        <div class="w3-row-padding">
          <div class="w3-section w3-right w3-half " >
            <a class="w3-button w3-right" id="addListBut" onclick="sendQuestionNumbers()" style="background-color:#C0C0C0" >Quiz Oluştur</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>

    function check(n) {
        var k=n.id.substring(0,4);
        if(document.getElementById(n.id).checked==true) {
            if (k == "chap") {
                var id = n.id.substring(4, 5)
                {% for section in sections %}
                    var i ={{ section.chapter_id.id }}
                    if (i == id) {
                        document.getElementById("sec" +{{section.id}}).checked = true;
                        {% for subsection in subsections %}
                            var i2 ={{ subsection.section_id.id }}
                            var i3 ={{ section.id }}
                            if (i2 == i3) {
                                document.getElementById("sub" +{{subsection.id}}).checked = true;
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
            else {
                var id = n.id.substring(3, 4)
                {% for subsection in subsections %}
                    var i ={{ subsection.section_id.id }}
                    if (i == id) {
                        document.getElementById("sub" +{{subsection.id}}).checked = true;
                    }
                {% endfor %}
            }
        }
        else{
            if (k == "chap") {
                var id = n.id.substring(4, 5)
                {% for section in sections %}
                    var i ={{ section.chapter_id.id }}
                    if (i == id) {
                        document.getElementById("sec" +{{section.id}}).checked = false;
                        {% for subsection in subsections %}
                            var i2 ={{ subsection.section_id.id }}
                            var i3 ={{ section.id }}
                            if (i2 == i3) {
                                document.getElementById("sub" +{{subsection.id}}).checked = false;
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
            else {
                var id = n.id.substring(3, 4)
                {% for subsection in subsections %}
                    var i ={{ subsection.section_id.id }}
                    if (i == id) {
                        document.getElementById("sub" +{{subsection.id}}).checked = false;
                    }
                {% endfor %}
            }
        }
    }
    var subsection_list = [];
    function createRandomQuiz(){
        var count=0;
        $("#subpop").empty();
        {% for subsection in subsections %}
             var numberOfQuestions=0;
             var x = document.getElementById("sub{{subsection.id}}").checked;
                if(x){
                    {% for qP in paramQuestions %}
                        {% if qP.subsection.id == subsection.id %}
                            numberOfQuestions=numberOfQuestions+1;
                        {% endif %}
                    {% endfor %}
                    {% for qF in fixedQuestions %}
                        {% if qF.subsection.id == subsection.id %}
                            numberOfQuestions=numberOfQuestions+1;
                        {% endif %}
                    {% endfor %}
                    subsection_list[count]={{subsection.id}};
                    $("#subpop").append("<label>"+"{{subsection.subsection_name}}"+"</label><input placeholder='Toplam Soru: "+numberOfQuestions+"' id='subNum"+"{{ subsection.id }}"+"' class='w3-input w3-border w3-margin-bottom' type='text'>");
                    count=count+1;
                }
        {% endfor %}
        $("#popup3").show();
    }
    function createManuelQuiz() {
        var subsection_list = [];
        var count=0;
        {% for subsection in subsections %}
            var x = document.getElementById("sub{{subsection.id}}").checked;
                if(x){
                    subsection_list[count]={{subsection.id}};
                    count=count+1;
                }
        {% endfor %}
        $.ajax({
            type:"GET",
            url:"/createManuelQuiz/",
            data:{Subsections:subsection_list},
            success:function(data){
                window.location.href = '/renderManualQuizQuestions';
            }
        });
    }
    function sendQuestionNumbers(){
        var quizName = document.getElementById("quizName").value;
        var dueDate = document.getElementById("dueDate").value;
        var numQuestions = []
        for (i = 0; i < subsection_list.length; i++) {
            var numberOfQuestions=0;
            var id = subsection_list[i];

            {% for qP in paramQuestions %}
                if ("{{ qP.subsection.id }}" == id ){
                numberOfQuestions=numberOfQuestions+1;
            }
            {% endfor %}
            {% for qF in fixedQuestions %}
                if ("{{ qF.subsection.id }}" == id ){
                numberOfQuestions=numberOfQuestions+1;
            }
            {% endfor %}
            numQuestions[i] = document.getElementById("subNum"+id).value;
            if(numQuestions[i]>numberOfQuestions){
                {% for sub in subsections %}
                    if(id=="{{ sub.id }}"){
                        var name = "{{ sub.subsection_name }}"
                    }
                {% endfor %}
                alert(name+" adlı konuya fazla soru girdiniz!");
                return;
            }
        }
        $.ajax({
            type:"GET",
            url:"/createRandomQuiz/",
            data:{subsections:subsection_list,numQuestions:numQuestions,quiz_name:quizName,due_date:dueDate},
            success:function(data){
                window.location.href = '/quizes';
            }
        });
    }
</script>
</html>


