<html>
<head>
	<title>Soru Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">	
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
			<img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>SORU OLUŞTUR</h1>
		</div>
		<hr>
		<div>
            <label for="konu"><b>Konu</b></label>
            <select id="konu" name="konu">
                {% for subsection in subsections %}
                    <option value="subsection">{{ subsection.subsection_name }}</option>
                {% endfor %}
            </select>
		</div>
		<div>
			<label for="soruTipi"><b>Soru Tipi</b></label>
			<select id="soruTipi">
		      		<option value="Parametreli">Parametreli</option>
		      		<option value="Parametresiz">Parametresiz</option>
		    </select>
		</div>
		<div>
			<label for="soru">Soru Metni</label>
            <textarea class="text" id="soru" cols="40" rows="5" placeholder="Soruyu buraya giriniz" style="height:150px"></textarea>
		</div>
        <br><hr>
        <div id="parameters">

        </div>
        <div id="paramSection">
            <div class="w3-row-padding">
                <br>
                <div class="w3-quarter w3-left">
                    <label for="soru" style="padding-left: 5px">Parametre</label>
                    <input class="text" type="text" id="parameter" placeholder="Parametreyi giriniz">
                </div>
                <div class="w3-quarter">
                    <label for="minVal" style="padding-left: 5px">Minumum Değer</label>
                    <input class="text" type="text" id="minVal" placeholder="Minimum değeri giriniz">
                </div>
                <div class="w3-quarter">
                    <label for="maxVal" style="padding-left: 5px">Maksimum Değer</label>
                    <input class="text" type="text" id="maxVal" placeholder="Maksimum değeri giriniz" >
                </div>
                <div class="w3-quarter" style="padding-top: 20px;padding-left: 20px">
                    <h3 class="w3-button w3-gray" onclick="addParameter()">Ekle</h3>
                </div>
            </div>
            <div style="padding-left: 20px">
                <label for="availableUsage" style="padding-left: 5px">Türetilebilecek Soru Sayısı</label>
                <input class="text" type="text" id="availableUsage" placeholder="Türetilebilecek soru sayısını giriniz" >
            </div>
        </div>
		<div>
			<h3 style="padding-left:50px">Şıklar :</h3>
			<div class="w3-row-padding">
				<div class="w3-half w3-center ">
					<label for="optionA" style="padding-right:30px">A : </label>
					<input type="text" class="opt " id="optionA"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" id="a" value="A" name="choices"  >
				</div>		
			</div>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="optionB" style="padding-right:30px">B : </label>
					<input type="text" class="opt " id="optionB"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" id="b" value="B" name="choices"   >
				</div>		
			</div>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="optionC" style="padding-right:30px">C : </label>
					<input type="text" class="opt " id="optionC"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" id="c" value="C" name="choices"   >
				</div>		
			</div>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="optionD" style="padding-right:30px">D : </label>
					<input type="text" class="opt " id="optionD" style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" id="d" value="D" name="choices" >
				</div>		
			</div>
			<p class="w3-center">*Lütfen doğru olan şıkkı yan tarafında bulunan kutucuktan işaretleyin.</p>
		</div>
		<br><br>
		<div class="w3-row-padding" id="button">
			<h2 class="w3-button w3-right w3-third w3-gray" style="padding-bottom: 10px;padding-top: 10px;" id="save" onclick="saveQuestion()">Kaydet</h2>
            <a href="{%url 'teacherWelcome' %}"> <h2 class="w3-button w3-left w3-third w3-gray" >İptal</h2></a>
        </div>
		<br><br>
		</div>
	</div>	
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	.text, select {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.opt{
	    width: 40%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	input[type=radio]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding:10px;
	}
</style>
<script>
        var parameters=[];
        var maxValues=[];
        var minValues=[];
        count=0;
        function addParameter() {
            var q_parameter=document.getElementById("parameter").value;
            var minValue=document.getElementById("minVal").value;
            var maxValue=document.getElementById("maxVal").value;
            existence=false;
            if((q_parameter=="")||(minValue=="")||(maxValue=="") ){
                alert("Boş alan bırakılamaz");
                existence=true;
            }
            for(i=0;i<parameters.length;i++){
                if(parameters[i]==q_parameter){
                    alert("Bu parametre zaten var");
                    existence=true;
                }
            }
            if(existence==false) {
                parameters.push(q_parameter);
                minValues.push(minValue);
                maxValues.push(maxValue);
                $("#parameters").append("<div clas='w3-row-padding' id='parameter" + q_parameter + "'><div class='w3-quarter' style='padding-left: 20px;padding-top: 10px'><h4>Parametre : " + q_parameter + "</h4></div><div class='w3-quarter' style='padding-top: 10px'><h4>Minimum Değer : " + minValue + "</h4></div><div class='w3-quarter' style='padding-top: 10px'><h4>Maksimum Değer : " + maxValue + "</h4></div> <div class='w3-quarter' style='padding-left: 40px'><h4 class='w3-button' onclick='removeParameter(parameter" + q_parameter + ")'>X</h4></div></div>");
                document.getElementById("parameter").value = "";
                document.getElementById("minVal").value = "";
                document.getElementById("maxVal").value = "";
            }
            else{
                document.getElementById("parameter").value = "";
                document.getElementById("minVal").value = "";
                document.getElementById("maxVal").value = "";
            }
        }
        function removeParameter(m){
            id=m.id;
            parameter=id.slice(9,10);
            var i,deletedParameterIndex;
            for(i=0 ; i < parameters.length;i++){
                if(parameters[i]==parameter){
                    deletedParameterIndex=i;
                }
            }
            parameters.splice(deletedParameterIndex,1);
            minValues.splice(deletedParameterIndex,1);
            maxValues.splice(deletedParameterIndex,1);
            $(m).remove();
            console.log(parameters);
        }
        function saveQuestion() {
            var sec=document.getElementById("konu")
            var q_subsection= sec.options[sec.selectedIndex].text;
            var typ=document.getElementById("soruTipi")
            var q_type= typ.options[typ.selectedIndex].text;
            var q_text=document.getElementById("soru").value;
            var q_optionA=document.getElementById("optionA").value;
            var q_optionB=document.getElementById("optionB").value;
            var q_optionC=document.getElementById("optionC").value;
            var q_optionD=document.getElementById("optionD").value;
            var q_answer;
            var q_availableUsageNum=document.getElementById("availableUsage").value;
            if(document.getElementById("a").checked) {
                q_answer = document.getElementById("a").value;
            }
            else if(document.getElementById("b").checked){
                q_answer = document.getElementById("b").value;
            }
            else if(document.getElementById("c").checked){
                q_answer = document.getElementById("c").value;
            }
            else if(document.getElementById("d").checked){
                q_answer = document.getElementById("d").value;
            }
            $.ajax({
                type: "GET",
                url: "/saveQuestion/",
                data: {subsection: q_subsection,type:q_type,question_text:q_text,option_a:q_optionA,option_b:q_optionB,option_c:q_optionC,option_d:q_optionD,answer:q_answer,availableUsageNum:q_availableUsageNum,Parameters:parameters,MaxValues:maxValues,MinValues:minValues},
                success: function (data) {
                    window.location.href = '/teacherWelcome';
                }
            })
        }
        $( document ).ready(function() {
            var typ=document.getElementById("soruTipi");
            $( "#soruTipi" ).change(function() {
                if(typ.options[typ.selectedIndex].text=="Parametresiz"){
                    $("#paramSection").hide();
                }
                if(typ.options[typ.selectedIndex].text=="Parametreli"){
                    $("#paramSection").show();
                }
            });
        });

</script>
</html>



