<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
         <script type="text/javascript" async  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<title>Manuel Quiz Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
			<img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}"class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
		<h1>Soruları Seçin</h1>
		</div>
		<hr>
            <br>
            <div style="padding-left: 20px">
                <h4 style="padding-right: 10px"><b>Quiz Adı</b></h4>
                <input id="quizName" type="text">
            </div>
            <div style="padding-left: 20px">
                <h4 style="padding-right: 10px"><b>Son tarih</b></h4>
                <input id="dueDate" type="date">
            </div>
            <br>
            {% for subsection in subsections %}
                <div>
                    <h4 class="w3-button" onclick="showQuestions(subquestion{{ subsection.id }})"><b>{{subsection.subsection_name}}</b></h4>
                        <div class="w3-row-padding">
                        <br>
                        <div id="subquestion{{ subsection.id }}">
                            {% for fixquestion in fixquestions %}
                                {% if fixquestion.subsection == subsection %}
                                    <div class="w3-third" style="width:10%">
                                        <input type="checkbox" class="unchecked" onclick="check({{fixquestion.id}})" id="{{ fixquestion.id }}">
                                    </div>
                                    <div class="w3-twothird" style="width:85%">
                                        <div>
                                            \({{ fixquestion.fixed_question_text}}\)
                                        </div><hr>
                                        <div class="w3-row-padding">
                                            <div class="w3-half"> A) \({{ fixquestion.fixed_option_a }}\) </div>
                                            <div class="w3-half"> B) \({{ fixquestion.fixed_option_b }}\) </div>
                                            </div><br>
                                            <div class="w3-row-padding">
                                            <div class="w3-half"> C) \({{ fixquestion.fixed_option_c }}\) </div>
                                            <div class="w3-half"> D) \({{ fixquestion.fixed_option_d }}\) </div>
                                            </div>
                                            <hr>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for paramquestion in paramquestions %}
                                {% if paramquestion.subsection == subsection %}
                                    <div class="w3-third" style="width:10%">
                                        <input type="checkbox" class="unchecked" onclick="check({{paramquestion.id}})" id="{{ paramquestion.id }}">
                                    </div>
                                    <div class="w3-twothird" style="width:85%">
                                        <div>
                                            \({{ paramquestion.param_question_text}}\)
                                        </div><hr>
                                        <div class="w3-row-padding">
                                            <div class="w3-half"> A) \({{ paramquestion.param_option_a }}\) </div>
                                            <div class="w3-half"> B) \({{ paramquestion.param_option_b }}\) </div>
                                            </div><br>
                                            <div class="w3-row-padding">
                                            <div class="w3-half"> C) \({{ paramquestion.param_option_c }}\) </div>
                                            <div class="w3-half"> D) \({{ paramquestion.param_option_d }}\) </div>
                                            </div>
                                            <hr>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        </div>
                </div>
            {% endfor %}
            <h3 class="w3-button w3-right w3-gray" onclick="sendQuestions()" >Quiz Oluştur</h3>
        </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>
    $( document ).ready(function() {
        {% for subsection in subsections %}
            $("#subquestion{{ subsection.id }}").hide();
        {% endfor %}

    });
    function showQuestions(n) {
        $("#"+n.id).toggle();
    }
    function sendQuestions() {
        var Questions=[]
        var questions=document.getElementsByClassName("checked");
        for (var i = 0; i <questions.length; i++) {
                Questions.push(questions[i].id);
        }
        var quizname=document.getElementById("quizName").value;
        var dueDate=document.getElementById("dueDate").value;
        var subsections=[]
        {% for subsection in subsections %}
            subsections.push({{ subsection.id }})
        {% endfor %}
        $.ajax({
            type:"GET",
            url:"/saveQuiz/",
            data:{questions:Questions,quizName:quizname,dueDate:dueDate,subsections:subsections},
            success:function(data){
                window.location.href ='/quizes';
            }
        });
    }
    function check(n) {
        if(document.getElementById(n).className=="checked"){
          document.getElementById(n).className="unchecked"
        }
        else if(document.getElementById(n).className=="unchecked"){
          document.getElementById(n).className="checked"
        }
    }
</script>
</html>



