<html>
<head>
  <title>Öğrenci Ekle</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
      <img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
    <div class="w3-container w3-text-black">
              <h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
    <hr>
    <br>
    <br>
    <div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
      <a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
      <a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
    </div>
    <br>
    <br>
    <br>
      </div><br>
    </div><!-- Left Column -->
  <!-- Right Column -->
    <div class="w3-twothird w3-white">
  <div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
  <br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color: #B0C4DE;">
      <h1>ÖĞRENCİ EKLE</h1>
    </div>
       <hr>
        <div class="w3-center">

        <form id="form" action="{% url 'importExcel' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <!-- <select" id="course" >
            {!% for course in courses %}
                <option value="course">{!{ course.course_name }}</option>
            {!% endfor %}
         </select>-->
         <fieldset>
         <legend>Excel dosyası formatı xls olmalıdır.</legend>
             <p>
             <input type="file" id="file" name="file"/>
             <input type="submit" value="OK">
             </p>
         </fieldset>
            <h5>Not: Dosya 3 kolondan oluşup, ilk satırdan itibaren öğrenci bilgileri içermelidir.</h5>
            <h5>1.kolon: Öğrenci numarası, 2.kolon: Adı Soyadı, 3.kolon: Mail adresi </h5>

         </form>
        </div>
    </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>

<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #5F9EA0;
        width: 40%;
        color: #FFFFFF;
        font-size: 14px;
    }

    .text, select {
      width: 40%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

</style>
<script>

</script>
</html>