<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
         <script type="text/javascript" async  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
			<img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a  class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
        <div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
            <br>
		<div class="w3-center" style="background-color:	#B0C4DE;">
			<br><br>
			<h2>Quizi Değiştir</h2>
			<hr>
		</div>
		<br>
            <div style="padding-left: 20px">
                <h4 style="padding-right: 10px"><b>Quiz Adı</b></h4>
                <input id="quizName" type="text">
            </div>
            <div style="padding-left: 20px">
                <h4 style="padding-right: 10px"><b>Son tarih</b></h4>
                <input id="dueDate" type="date">
            </div>
            <h3 class="w3-button w3-gray w3-right" onclick="save()">Kaydet</h3>
            <br><hr>
            <h3 style="padding-left: 20px"><b>Sorular</b></h3>
            <br>
            {% for qquestion in quizquestions %}
                {% for fquestion in fixquestions %}
                    {% if qquestion.question.id == fquestion.id%}
                        <div id="question{{ fquestion.id }}">
                            <div style="padding-left: 20px">
                     \({{ fquestion.fixed_question_text}}\)
                    </div><hr>
                    <div class="w3-row-padding">
                    <div class="w3-half"> A) \({{ fquestion.fixed_option_a }}\) </div>
                    <div class="w3-half"> B) \({{ fquestion.fixed_option_b }}\) </div>
                    </div><br>
                    <div class="w3-row-padding">
                    <div class="w3-half"> C) \({{ fquestion.fixed_option_c }}\) </div>
                    <div class="w3-half"> D) \({{ fquestion.fixed_option_d }}\) </div>
                    <p class="w3-button w3-right w3-gray" onclick="deleteQuestion({{ fquestion.id}})">Soruyu Sil</p>
                    </div><hr></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for qquestion in quizquestions %}
                {% for pquestion in paramquestions %}
                    {% if qquestion.question.id == pquestion.id%}
                        <div id="question{{ pquestion.id }}">
                            <div style="padding-left: 20px">
                     \({{ pquestion.param_question_text}}\)
                    </div><hr>
                    <div class="w3-row-padding">
                    <div class="w3-half"> A) \({{ pquestion.param_option_a }}\) </div>
                    <div class="w3-half"> B) \({{ pquestion.param_option_b }}\) </div>
                    </div><br>
                    <div class="w3-row-padding">
                    <div class="w3-half"> C) \({{ pquestion.param_option_c }}\) </div>
                    <div class="w3-half"> D) \({{ pquestion.param_option_d }}\) </div>
                    <p class="w3-button w3-right w3-gray" onclick="deleteQuestion({{ pquestion.id}})" >Soruyu Sil</p>
                    </div><hr></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div>
                <h3 class="w3-button w3-gray w3-right " style="padding-left: 20px" onclick="addQuestion()">Soru Ekle</h3>
            </div>
        </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>

<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>
     $( document ).ready(function() {
         document.getElementById("quizName").value="{{ quiz.name }}";
         var date = new Date("{{ quiz.due_date }}");
         var day = ("0" + date.getDate()).slice(-2);
         var month = ("0" + (date.getMonth() + 1)).slice(-2);
         var datee = date.getFullYear()+"-"+(month)+"-"+(day) ;
         document.getElementById("dueDate").value=datee;
    });
     function save() {
         var quiz_name=document.getElementById("quizName").value;
         var due_date=document.getElementById("dueDate").value;
         var quiz_id={{ quiz.id }};
         $.ajax({
            type:"GET",
            url:"/saveChanges/",
            data:{quiz_id:quiz_id,due_date:due_date,quiz_name:quiz_name},
        });
     }
     function deleteQuestion(n) {
          var quiz_id={{ quiz.id }};
          $.ajax({
            type:"GET",
            url:"/deleteQuizQuestion/",
            data:{quiz_id:quiz_id ,question_id:n},
            success: function () {
                $("#question"+n).remove();
            }
          });
     }
     function addQuestion(){
         var quiz_id={{ quiz.id }};
         $.ajax({
            type:"GET",
            url:"/addQuestion/",
            data:{quiz_id:quiz_id },
            success: function () {
                window.location.href = '/addQuizQuestion';
            }
          });
     }
</script>
</html>



