<html>
<head>
	<title>Quizler</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
			<img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>QUIZLER</h1>
		</div>
		<hr>
        {% for quiz in quizes %}
            <br>
            <div class="w3-row-padding" id="quiz{{ quiz.id }}">
                <h4 class="w3-button w3-quarter" style="width:60%" onclick="editQuiz({{ quiz.id }})">{{ quiz.name }}</h4>
                <h4 class="w3-quarter" style="width:10%">Aktif: </h4>
                <div  class="w3-quarter" style="width:10%;padding-top: 20px">
                    <input type="checkbox"  id="active{{ quiz.id }}" onclick="makeActive({{ quiz.id }})">
                </div>
                <h4 class="w3-button w3-right w3-quarter" onclick="deleteQuiz({{ quiz.id }})" style="width: 10%">X</h4>
            </div>
        {% endfor %}
	</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	.text, select {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.opt{
	    width: 40%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
        padding-top: 20px;
	}
</style>
<script>
    $( document ).ready(function() {
        {% for quiz in quizes %}
            var accsblty;
            if("{{ quiz.accessibility }}" == "True" ){
                 accsblty=true;
            }
            else if("{{ quiz.accessibility }}" == "False" ){
                accsblty=false
            }
            document.getElementById("active{{ quiz.id }}").checked=accsblty;
        {% endfor %}
    });
    function deleteQuiz(n) {
        $.ajax({
            type:"GET",
            url:"/deleteQuiz/",
            data:{quiz_id:n},
            success:function(data){
                $("#quiz"+n).remove();
            }
        });
    }
    function makeActive(n) {
        var x=document.getElementById("active"+n).checked;
        $.ajax({
            type:"GET",
            url:"/changeAccessibility/",
            data:{quiz_id:n,accessibility:x},
        });
    }
    function editQuiz(n){
        $.ajax({
            type:"GET",
            url:"/editQuiz/",
            data:{quiz_id:n},
            success:function(data){
                window.location.href='/quizDetails';
            }
        });
    }
</script>
</html>



