<!DOCTYPE html>
<html>
	<head>
	<title>Quiz Sonuçları</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name}} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	    <br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>QUIZ SONUÇLARI</h1>
		</div><hr>
        <div>
            <h3>{{ student.student_first_name }} {{ student.student_last_name }}</h3>
        </div>
        <div id="results"></div>
        <br>
        <div>
            <h2 class="w3-button w3-right w3-gray" onclick="exportExcel()">Export Excel</h2>
        </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>
</div>
</body>
<script>
    $(document).ready(function(){
        quizes=[]
        trues=[]
        falses=[]
        blanks=[]
        {% for stquizquestion in stquizquestions %}
            existence=false
            for(i=0;i<quizes.length;i++){
                if(quizes[i]== "{{ stquizquestion.quiz_question.quiz.name }}"){
                    existence=true
                    {% for fquestion in fquestions %}
                        {% if stquizquestion.quiz_question.question.id == fquestion.id %}
                            if("{{ stquizquestion.answer }}" == "{{ fquestion.fixed_question_answer }}"){
                                trues[i]=trues[i]+1
                            }
                            else if("{{ stquizquestion.answer }}" =="" ){
                                blanks[i]=blanks[i]+1
                            }
                            else{
                                falses[i]=falses[i]+1
                            }
                        {% endif %}
                    {% endfor %}
                    {% for pquestion in pquestions %}
                        {% if stquizquestion.quiz_question.question.id == pquestion.id %}
                            if("{{ stquizquestion.answer }}" == "{{ pquestion.param_question_answer }}"){
                                trues[i]=trues[i]+1
                            }
                            else if("{{ stquizquestion.answer }}" =="" ){
                                blanks[i]=blanks[i]+1
                            }
                            else{
                                falses[i]=falses[i]+1
                            }
                        {% endif %}
                    {% endfor %}
                }
            }
            if(existence == false){
                quizes.push("{{ stquizquestion.quiz_question.quiz.name }}")
                {% for fquestion in fquestions %}
                    {% if stquizquestion.quiz_question.question.id == fquestion.id %}
                        if("{{ stquizquestion.answer }}" == "{{ fquestion.fixed_question_answer }}"){
                            trues.push(1)
                            blanks.push(0)
                            falses.push(0)
                        }
                        else if("{{ stquizquestion.answer }}" =="" ){
                            trues.push(0)
                            blanks.push(1)
                            falses.push(0)
                        }
                        else{
                            trues.push(0)
                            blanks.push(0)
                            falses.push(1)
                        }
                    {% endif %}
                {% endfor %}
                {% for pquestion in pquestions %}
                    {% if stquizquestion.quiz_question.question.id == pquestion.id %}
                        if("{{ stquizquestion.answer }}" == "{{ pquestion.param_question_answer }}"){
                            trues.push(1)
                            blanks.push(0)
                            falses.push(0)
                        }
                        else if("{{ stquizquestion.answer }}" == "" ){
                            trues.push(0)
                            blanks.push(1)
                            falses.push(0)
                        }
                        else{
                            trues.push(0)
                            blanks.push(0)
                            falses.push(1)
                        }
                    {% endif %}
            {% endfor %}
            }
        {% endfor %}
        for(i=0;i<quizes.length;i++){
             var green = trues[i];
             var red = falses[i];
             var yellow = blanks[i];
             var total = red+green+yellow;
             red=Number(red/total*100);
             green=Number(green/total*100);
             yellow=Number(yellow/total*100);
             $("#results").append('<div class="w3-row-padding"><h3 class="w3-button w3-left w3-third" onclick="showDetail('+i+')" style="padding-right:90px">'+ quizes[i] +'</h3><div class="w3-row-padding w3-twothird" style="padding-top: 5px"><div id="bar'+ i +'"></div><div id="detail'+ i +'"></div></div></div>');
             if(trues[i]>0){
               $("#bar"+i).append('<div class="w3-green w3-third" style="height:40px; width: '+green+'%"><p class="w3-center">D:'+trues[i]+'</p></div>');
             }
             if(falses[i]>0) {
                 $("#bar" + i).append('<div class="w3-red w3-third" style="height:40px; width: ' + red + '%"><p class="w3-center">Y:'+falses[i]+'</p></div>');
             }
             if(blanks[i]>0){
                 $("#bar" + i).append('<div class="w3-yellow w3-third" style="height:40px; width: ' + yellow + '%"><p class="w3-center">Y:'+blanks[i]+'</p></div>');
             }
        }
        for(n=0;n<quizes.length;n++) {
            subsections = []
            trues = []
            falses = []
            blanks = []
            var date=""
            {% for stquizquestion in stquizquestions %}
                if ("{{ stquizquestion.quiz_question.quiz.name }}" == quizes[n]) {
                    existence=false
                    for(i=0;i<subsections.length;i++) {
                        if(subsections[i]=="{{ stquizquestion.quiz_question.question.subsection.subsection_name }}") {
                            existence=true
                            {% for fquestion in fquestions %}
                                {% if stquizquestion.quiz_question.question.id == fquestion.id %}
                                    if("{{ stquizquestion.answer }}" == "{{ fquestion.fixed_question_answer }}"){
                                        trues[i]=trues[i]+1
                                    }
                                    else if("{{ stquizquestion.answer }}" =="" ){
                                        blanks[i]=blanks[i]+1
                                    }
                                    else{
                                        falses[i]=falses[i]+1
                                    }
                                {% endif %}
                                {% endfor %}
                            {% for pquestion in pquestions %}
                                {% if stquizquestion.quiz_question.question.id == pquestion.id %}
                                    if("{{ stquizquestion.answer }}" == "{{ pquestion.param_question_answer }}"){
                                        trues[i]=trues[i]+1
                                    }
                                    else if("{{ stquizquestion.answer }}" =="" ){
                                        blanks[i]=blanks[i]+1
                                    }
                                    else{
                                        falses[i]=falses[i]+1
                                    }
                                {% endif %}
                            {% endfor %}
                        }
                    }
                    if(existence == false) {
                        subsections.push("{{ stquizquestion.quiz_question.question.subsection.subsection_name }}")
                        {% for fquestion in fquestions %}
                            {% if stquizquestion.quiz_question.question.id == fquestion.id %}
                                if("{{ stquizquestion.answer }}" == "{{ fquestion.fixed_question_answer }}"){
                                    trues.push(1)
                                    blanks.push(0)
                                    falses.push(0)
                                }
                                else if("{{ stquizquestion.answer }}" =="" ){
                                    trues.push(0)
                                    blanks.push(1)
                                    falses.push(0)
                                }
                                else{
                                    trues.push(0)
                                    blanks.push(0)
                                    falses.push(1)
                                }
                            {% endif %}
                        {% endfor %}
                        {% for pquestion in pquestions %}
                            {% if stquizquestion.quiz_question.question.id == pquestion.id %}
                                if("{{ stquizquestion.answer }}" == "{{ pquestion.param_question_answer }}"){
                                    trues.push(1)
                                    blanks.push(0)
                                    falses.push(0)
                                }
                                else if("{{ stquizquestion.answer }}" == "" ){
                                    trues.push(0)
                                    blanks.push(1)
                                    falses.push(0)
                                }
                                else{
                                    trues.push(0)
                                    blanks.push(0)
                                    falses.push(1)
                                }
                            {% endif %}
                        {% endfor %}
                    }
                }
                date="{{ stquizquestion.solve_date }}"
            {% endfor %}
            console.log(subsections)
            for(i=0;i<subsections.length;i++){
                $("#detail" + n).append("<p>" + subsections[i] + ": Doğru sayısı: " + trues[i] + " Yanlış Sayısı: " + falses[i] + " Boş Sayısı: " + blanks[i] + "</p>");
            }
            console.log(date)
            $("#detail" + n).append("<p>Quiz Çözülme Tarihi: "+ date +"</p>");
            $("#detail" + n).hide()
        }
	});

	function showDetail(n){
	    $("#detail" + n).toggle();
    }
    function exportExcel() {
        var student="{{ student}}"
        $.ajax({
        type: "GET",
        url: "/exportStudentQuiz/",
        success: function () {
            window.location.href = '/exportStudentQuizExcel';
        }})
    }

</script>
</html>



