<!DOCTYPE html>
<html>
	<head>
	<title>İstatistikleri Getir</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
            {% load static %}
            <img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
            <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
            <a href="{%url 'createQuiz' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
            <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZLER</a>
            <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
            <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
            <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>İSTATİSTİKLER</h1>
		</div>
		<hr>
            <div style="padding-top:50px">
                <label for="studentN">Öğrenci Numarası</label>
                <input class="text" type="text" id="studentN">
            </div>
            <div style="padding-top:50px">
                <label for="konu"><b>Konu</b></label>
                <select id="konu" name="konu">
                    <option value="section">Konuyu Seçiniz</option>
                    {% for section in sections %}
                        <option value="section">{{ section.section_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <p>*Konu seçmeden sadece öğrenci numarası kullanarak arama yaparsanız o öğrencinin bütün konulardaki istatistikleri getirilir.</p>
            <p>*Öğrenci numarası girmeden arama yaparsanız bütün öğrencilerin seçilen konudaki (ya da seçim yapmazsanız tüm konulardaki) istatistiklerini içeren bir excel dosyası indirirsiniz</p>
            <div style="padding-top:50px">
                <h2 class="w3-button w3-right w3-right w3-gray" onclick="statistics()">İstatistikleri Getir</h2>
            </div>
        </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	.text, select {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.opt{
	    width: 40%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding:10px;
	}
</style>
<script>

	function statistics() {
        var studentNo=document.getElementById("studentN").value;
        var sec=document.getElementById("konu");
        var section= sec.options[sec.selectedIndex].text;
        console.log(section);
        if(studentNo==""){
            $.ajax({
                type: "GET",
                url: "/exportInfo/",
                data: {Section: section},
                success: function (data) {
                    window.location.href = '/exportExcel';
                }
            })
        }
        else {
            $.ajax({
                type: "GET",
                url: "/createStatistics/",
                data: {studentNo: studentNo, Section: section},
                success: function (data) {
                    window.location.href = '/teacherResults';
                }
            })
        }
    }

</script>
</html>


