<html>
  <head>
  <title>Sonuçlar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
      <img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
    <div class="w3-container w3-text-black">
              <h2>{{ teacher.teacher_first_name }} {{ teacher.teacher_last_name }}</h2>
        </div>
    <hr>
    <br>
    <br>
    <div class="w3-bar-block">
      <a href="{%url 'importStudent' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">ÖĞRENCİ EKLE</a>
      <a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
      <a href="{%url 'showQuestions' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORULAR</a>
      <a href="{%url 'quizes' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ OLUŞTUR</a>
      <a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST İSTATİSTİKLERİ</a>
      <a href="{%url 'teacherQuizResults' %}" class="w3-bar-item w3-button w3-padding w3-text-black">QUIZ İSTATİSTİKLERİ</a>
      <a href="{%url 'logout' %}" class="w3-bar-item w3-button w3-padding w3-text-black">ÇIKIŞ YAP</a>
    </div>
    <br>
    <br>
    <br>
      </div><br>
    </div><!-- Left Column -->
  <!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
	<br>
        <div class="w3-center" style="padding-top:50px;padding-bottom:30px; background-color:	#B0C4DE;">
			<h1>SONUÇLAR</h1>
		</div>
		<hr>
        {% if student %}
        <h3>{{ student.student_first_name }} {{ student.student_last_name }}</h3>
        {% endif %}
    <hr>
      <div id = "results"></div>
      <div style="padding-right: 15px">
      <h3 class="w3-button w3-right w3-gray" onclick="exportExcel()">Export Excel</h3>
      </div><br>
      <br>
  </div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
  input[type=checkbox]
  {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
  }
</style>
<script>
  $(document).ready(function(){
      {% if not student %}
          alert("Böyle bir öğrenci bulunamamaktadır.");
      {% endif %}
      {% for test in tests %}
          var trueC=0;
          var falseC=0;
          var blankC=0;
          var subsections = []; var trues = []; var falses = []; var blanks = [];
          var counter = 0;
          {% for question in test_questions %}
              {% if question.test.test_no == test.test_no %}//testin soruları içinden
                  {% for subsection in subsections %}
                        {% if subsection.subsection_name == question.question.subsection.subsection_name %} //konuya uyan sorular için
                            if ($.inArray("{{subsection.subsection_name}}",subsections) == -1) {
                                subsections.push("{{ subsection.subsection_name}}");
                                trues.push(0);
                                falses.push(0);
                                blanks.push(0)
                            }
                            counter = subsections.indexOf("{{ subsection.subsection_name }}");
                            {% if question.answer == "T" %}
                                trueC=trueC+1;
                                trues[counter]++;
                            {% endif %}
                            {% if question.answer == "F" %}
                                falseC=falseC+1;
                                falses[counter]++;
                            {% endif %}
                            {% if question.answer == "B" %}
                                blankC=blankC+1;
                                blanks[counter]++;
                            {% endif %}
                        {% endif %}
                  {% endfor %}
              {% endif %}
          {% endfor %}
        var green = trueC;
        var red = falseC;
        var yellow = blankC;
        var total = red+green+yellow;
        red=Number(red/total*100);
        green=Number(green/total*100);
        yellow=Number(yellow/total*100);
        var results = document.getElementById("results");

        if (total) {
            results.innerHTML += '<div class="w3-row-padding">' +
                '<h3 class="w3-button w3-left w3-third" onclick="showDetail(detail{{ test.test_no }})" style="padding-right:90px">{{ forloop.counter }}. Test</h3>' +
                '<div class="w3-row-padding w3-twothird" style="padding-top: 5px">' +
                '<div id="bar{{ test.test_no }}"></div><div id="detail{{ test.test_no }}" ></div> </div><br> </div><br>'


            var bar = document.getElementById("bar{{test.test_no}}");
            if (green>0)
                bar.innerHTML += '<div class="w3-green w3-third" style="height:40px; width: ' + green + '%"><p class="w3-center">D:' + trueC + '</p></div>';
            if (red>0)
                bar.innerHTML += '<div class="w3-red w3-third" style="height:40px; width: ' + red + '%"><p class="w3-center">Y:' + falseC + '</p></div>';
            if (yellow>0)
                bar.innerHTML += '<div class="w3-yellow w3-third" style="height:40px; width: ' + yellow + '%"><p class="w3-center">B:' + blankC + '</p></div>';
            var detail = document.getElementById("detail{{ test.test_no }}");
            for (var i = 0; i < subsections.length; i++) {
                detail.innerHTML += "<p>" + subsections[i] + ": Doğru sayısı: " + trues[i] + " Yanlış Sayısı: " + falses[i] + " Boş Sayısı: " + blanks[i] + "</p>"
            }
            detail.innerHTML += "<p>Test tarihi: " + "{{ test.test_date }}" + "</p>";
            $("#detail{{test.test_no}}").hide();
        }
      {% endfor %}
  });
  
  function showDetail(n) {
        $("#"+n.id).toggle();
    }
  function exportExcel() {
      var studentNo = Number({{ student.student_number }});
      var section = "{{ section }}";

      $.ajax({
            type: "GET",
            url: "/exportInfo/",
            data: {Section: section, student_number: studentNo},
            success: function (data) {
                window.location.href = '/exportExcel';
            }
        })
  }
</script>
</html>



