<!DOCTYPE html>
<html>
	<head>
	<title>Test Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">	
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>John Doe</h2>
			<h3>Bilgisayar Mühendisliği</h3>
			<h3>3. Sınıf</h3>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
			<a href="{%url 'results' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SONUÇLARIM</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
		<br>
		<div class="w3-center" style="background-color:	#B0C4DE;">
			<br><br>
			<h1>MAT101</h1>
			<h2>Test Oluştur</h2>
			<hr>
		</div>
		<br>
		{% for chapter in chapters %}
			<div id="chapter{{chapter.id}}" class="w3-panel w3-row-padding" >
				<div class="w3-twothird w3-left-side">
					<input  type="checkbox"> {{chapter.chapter_name}} </input>
				</div>
                <br>
				<!--<div  class="w3-third w3-right">
					<button> + </button>
				</div>-->
				{% for section in sections %}
					{% if section.chapter_id.id == chapter.id %}
						<div id="section{{section.id}}" class="w3-panel w3-row-padding " style="padding-right:60px">
							<div class="w3-twothird w3-left-side">
								<input  type="checkbox"> {{section.section_name}} </input>
							</div>
                            <br>
							<!--<div  class="w3-third w3-right">
								<button onclick="addDesc(section{{section.id}})" > + </button>
							</div>-->
							{% for subsection in subsections %}
								{% if subsection.section_id.id == section.id %}
										<div id="subsection{{subsection.id}}" class="w3-panel w3-row-padding " style="padding-right:60px">
											<div class="w3-twothird w3-left-side">
												<input  type="checkbox" id="sub{{subsection.id}}"> {{subsection.subsection_name}} </input>
											</div>
											<!--<div  class="w3-third w3-right">
												<button onclick="addDesc( subse)" > + </button>
											</div>-->
                                        <br>
										</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
		<br>
		<div style="background-color:#C0C0C0">
            <input type="button" onclick="send_subsections()" class="w3-button w3-right" value="Testi oluştur" >
            <!--<h2 class="w3-button w3-right" onclick="send_subsections()">Testi Oluştur</h2>
        </div>
	</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>
<script>

    $( document ).ready(function() {
    });

    function send_subsections(){
        //alert("function started");

        var subsection_list = [];
        //document.getElementById()
        var count=0;
        {% for subsection in subsections %}
            var x = document.getElementById("sub{{subsection.id}}").checked;
                if(x){
                    subsection_list[count]={{subsection.id}};
                    //alert(subsection_list[count]);
                    count=count+1;
                }
        {% endfor %}

        $.ajax({
            type:"GET",
            url:"/find_question/",
            data:{list_of_subsections:subsection_list},
            success:function(data){
                window.location.href = '/question';
            }
        });
    }

</script>
</html>



