<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<title>Soru Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://www.wiris.net/demo/editor/editor"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">	
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
			<img src="{% static 'admin/img/avatar-teacher.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            	<h2>Prof. Dr. John Doe</h2>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createQuestion' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SORU OLUŞTUR</a>
			<a href="{%url 'showStatistics' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">İSTATİSTİKLER</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird w3-white">
	<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
		<br>
		<div class="w3-center" style="background-color:	#B0C4DE;">
			<br><br>
			<h1>MAT101</h1>
			<h2>Soru Oluştur</h2>
			<hr>
		</div>
		<br>
		<div>
            <label for="konu"><b>Konu</b></label>
            <select id="konu" name="konu">
                {% for subsection in subsections %}
                    <option value="subsection">{{ subsection.subsection_name }}</option>
                {% endfor %}
            </select>
		</div>
		<div>
			<label for="soruTipi"><b>Soru Tipi</b></label>
			<select id="soruTipi" name="soruTipi">
		      		<option value="Parametreli">Parametreli</option>
		      		<option value="Parametresiz">Parametresiz</option>
		      		
		    	</select>
		</div>
		<div>
			<label for="soru">Soru Metni</label>
			<input class="text" type="text" id="soru" placeholder="Soruyu buraya giriniz" style="height:150px">
			<h3 class="w3-button w3-gray">Parametre Ekle</h3>
			<p>*Her parametre eklemek istediğinizde parametre ekle butonuna basınız</p>
		</div>
        <div id="editorContainer"></div>
		<div>
			<h3 style="padding-left:50px">Şıklar :</h3>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="a" style="padding-right:30px">A : </label>
					<input type="text" class="opt " id="a"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" name="choices"  >
				</div>		
			</div>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="a" style="padding-right:30px">B : </label>
					<input type="text" class="opt " id="a"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" name="choices"   >
				</div>		
			</div>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="a" style="padding-right:30px">C : </label>
					<input type="text" class="opt " id="a"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" name="choices"   >
				</div>		
			</div>
			<div class="w3-row-padding">
				
				<div class="w3-half w3-center ">
					<label for="a" style="padding-right:30px">D : </label>
					<input type="text" class="opt " id="a"  style="padding-right:30px">
				</div>
				<div class="w3-half w3-center">
					<br>
					<input type="radio" name="choices" >
				</div>		
			</div>
			<p class="w3-center">*Lütfen doğru olan şıkkı yan tarafında bulunan kutucuktan işaretleyin.</p>
		</div>
		<br><br>
		<div class="w3-row-padding">
			<!--<a href="{%url 'teacherWelcome' %}">--> <h2 class="w3-button w3-right w3-third" id="save">Kaydet</h2><!--</a>-->
            <a href="{%url 'teacherWelcome' %}"> <h2 class="w3-button w3-left w3-third">İptal</h2></a>
		</div>
		<br><br>
		</div>
	</div>	
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>

</body>
<style>
	.text, select {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.opt{
	    width: 40%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	input[type=radio]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding:10px;
	}
</style>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script>
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$$','$$']]}
  });
</script>
<script type="text/javascript">
         $(document).ready(function(){
          var editor;
          editor = com.wiris.jsEditor.JsEditor.newInstance({'language': 'en'});
          editor.insertInto(document.getElementById('editorContainer'));
          editor.setMathML()
          //console.log(editor.toString());
        $("#save").click(function() {
            $("#editorContainer").append(editor.getMathML());
            //console.log(editor.getMathML());
        });
        });

</script>
</html>



