<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
	<title>Soru</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third" >	
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
        <div class="w3-display-container">
          {% load static %}
            <img src="{% static 'admin/img/avatar-student.png' %}" style="width:50%" alt="Avatar"/>
        </div>
		<div class="w3-container w3-text-black">
            <h2>John Doe</h2>
			<h3>Bilgisayar Mühendisliği</h3>
			<h3>3. Sınıf</h3>
        </div>
		<hr>
		<br>
		<br>
		<div class="w3-bar-block">
			<a href="{%url 'createTest' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">TEST OLUŞTUR</a>
			<a href="{%url 'results' %}"  class="w3-bar-item w3-button w3-padding w3-text-black">SONUÇLARIM</a>
		</div>
		<br>
		<br>
		<br>
      </div><br>
    </div><!-- Left Column -->
	<!-- Right Column -->
    <div class="w3-twothird" >
		<div class=" w3-white w3-card-4 w3-container w3-margin-bottom">
			<br><br>
			<h1 class="w3-center">Soru 1</h1>
			<br>

			<!--<div id="mathml_text">-->
			<div>
				<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet placerat urna in placerat. Sed molestie, leo a laoreet condimentum, ligula leo egestas lacus, mattis tincidunt nunc eros vitae lorem. Integer condimentum dui in turpis ornare, eget tincidunt dui elementum. Sed urna felis, mattis vitae convallis ac, ultrices interdum sem. Maecenas dui ex, rutrum at interdum a, scelerisque et dolor. Vivamus sit amet luctus ligula. In mollis sapien lacus, eget bibendum mi ullamcorper a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut at dolor ut sem cursus ultricies. Pellentesque volutpat a ex at tincidunt. Nunc sed eleifend purus. Vestibulum vulputate leo ac ante congue, sit amet bibendum quam scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam nec varius nunc. Mauris sollicitudin orci vel orci vulputate, in vehicula tellus sollicitudin.</p>-->
				$${{ question.fixed_question_text}}$$
			</div>

            <br><hr>


                <div >
                <form action="">
                    <input  id="a" type="radio" name="options"/>$${{ question.fixed_option_a }}$$
                    <hr>
                    <input  type="radio" name="options"/> $${{ question.fixed_option_b }}$$
                    <hr>
                    <input  type="radio" name="options"/> $${{ question.fixed_option_c }}$$
                    <hr>
                    <input  type="radio" name="options"/> $${{ question.fixed_option_d }}$$
                    <hr>
                </form>
                </div>

			<br><br><br>
			<div class="w3-row-padding" >
				<div class="w3-quarter w3-right">
					<a href="{%url 'question' %}"><h2 class="w3-button">Sonraki Soru</h2></a>
				</div>
				<div class="w3-quarter w3-right">
					<a href="{%url 'results' %}"><h2 class="w3-button">Testi Bitir</h2></a>
				</div>
			<div>
		</div>
    </div><!-- End Right Column -->
  </div><!-- The Grid -->
</div>
</body>
<style>
	input[type=checkbox]
	{
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  padding: 10px;
	}
</style>

	<!--
<script type="text/javascript">
	//$data.innerHTML = "{{question_list.3.param_question_text}}";
	//for(element in data.0){
	  //  console.log(element);
	//}
	//data = "{{question_list.3.param_question_text}}";
	//$("#mathml_text").append(data);

	var div = document.createElement("div");
	div.innerHTML = "{{question_list.3.param_question_text}}".toString();
	$("#mathml_text").append(div);


</script>
-->
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script>
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
  </script>


</html>



