<!DOCTYPE html>
<html>
	<head>
	<title>Hesap Oluştur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <label for="number">Öğrenci Numarası</label>
      <input type="text" id="number"/>
      <div id="number_error" style="color: red"></div>
      <label for="course">Kullanıcı Adı</label>
      <input type="text" id="username" />
      <div id="username_error" style="color: red"> </div>
      <label for="course">İsim</label>
      <input type="text" id="name" />
      <label for="course">Soyisim</label>
      <input type="text" id="surname" />
      <label for="password">Parola</label>
      <input type="password" id="password"/>
      <label for="password2">Parola (Tekrar)</label>
      <input type="password" id="password2"/>
      <div id="password_error" style="color: red"> </div>
      <label for="course">Ders</label>
      <select id="course">
      {% for course in courses %}
        <option value="course">{{ course.course_name }}</option>
      {% endfor %}
      </select>
      <br><br>
      <input type="button" id= "register_button" onclick="register_func()" value="Kayıt Ol" >
      <div id="error" style="color: red"> </div>
    </form>
  </div>
</div>

</body>
<style>
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);
    .text, select {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.opt{
	    width: 40%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	.login-page {
	  width: 360px;
	  padding: 8% 0 0;
	  margin: auto;
	}
	.form {
	  position: relative;
	  z-index: 1;
	  background: #FFFFFF;
	  max-width: 360px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
	.form input {
	  font-family: "Roboto", sans-serif;
	  outline: 0;
	  background: #f2f2f2;
	  width: 100%;
	  border: 0;
	  margin: 0 0 15px;
	  padding: 15px;
	  box-sizing: border-box;
	  font-size: 14px;
	}
	#register_button {
	  font-family: "Roboto", sans-serif;
	  text-transform: uppercase;
	  outline: 0;
	  background: #5F9EA0;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  cursor: pointer;
	}
	#register_button:hover,#register_button:active,#register_button:focus {
	  background: #558e90;
	}
	.form .message {
	  margin: 15px 0 0;
	  color: #b3b3b3;
	  font-size: 12px;
	}
	.form .message a {
	  color: #4CAF50;
	  text-decoration: none;
	}
	.form .register-form {
	  display: none;
	}
	.container {
	  position: relative;
	  z-index: 1;
	  max-width: 300px;
	  margin: 0 auto;
	}
	.container:before, .container:after {
	  content: "";
	  display: block;
	  clear: both;
	}
	.container .info {
	  margin: 50px auto;
	  text-align: center;
	}
	.container .info h1 {
	  margin: 0 0 15px;
	  padding: 0;
	  font-size: 36px;
	  font-weight: 300;
	  color: #1a1a1a;
	}
	.container .info span {
	  color: #4d4d4d;
	  font-size: 12px;
	}
	.container .info span a {
	  color: #000000;
	  text-decoration: none;
	}
	.container .info span .fa {
	  color: #EF3B3A;
	}
	body {
	  background: #5F9EA0;
      font-family: "Roboto", sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;      
	}
</style>
<script>
    function register_func() {
        var r_username = document.getElementById("username").value;
        var r_number = document.getElementById("number").value;
        var r_name = document.getElementById("name").value;
        var r_surname = document.getElementById("surname").value;
        var r_password = document.getElementById("password").value;
        var r_password2 = document.getElementById("password2").value;
        var course_element = document.getElementById("course");
        var r_course = course_element.options[course_element.selectedIndex].text;

        $.ajax({
            type:"GET",
            url:"/register/",
            data:{number: r_number, username: r_username,name:r_name, surname:r_surname,password:r_password,
                csrfmiddlewaretoken: '{{ csrf_token }}',password2:r_password2, course: r_course
            },
             success:function(data){
                window.location.href = '/';
            },
            error: function(xhr, ajaxOptions, thrownError) {
                //alert(xhr.responseJSON.message);
                $('#number_error').empty();
                $('#username_error').empty();
                $('#password_error').empty();
                $('#error').empty();

                if(xhr.responseJSON['field'] == "number"){
                    $('#number_error').append(xhr.responseJSON.message);
                }
                else if(xhr.responseJSON['field'] == "username"){
                    $('#username_error').append(xhr.responseJSON.message);
                }
                else if(xhr.responseJSON['field'] == "password"){
                    $('#password_error').append(xhr.responseJSON.message);
                }
                else{
                    $('#error').append(xhr.responseJSON.message);
                }
            }
        })
    }

    $(document).ready(function(){

    });
</script>
</html>



