<!DOCTYPE html>
<html>
	<head>
	<title>Giriş Ekranı</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body >

<!-- Page Container -->
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" id="username" placeholder="kullanıcı adı"/>
      <input type="password" id="password" placeholder="şifre"/>
      <input type="button" id="login_button" onclick="login_func()" value="Giriş Yap" >
	  <a href="{%url 'createAccount' %}"><input type="button" id="register_button" value="Kayıt Ol"></a>
    </form>
    <div id="error" style="color: red" >
    </div>
  </div>
</div>

</body>
<style>
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

	.login-page {
	  width: 360px;
	  padding: 8% 0 0;
	  margin: auto;
	}
	.form {
	  position: relative;
	  z-index: 1;
	  background: #FFFFFF;
	  max-width: 360px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
	.form input {
	  font-family: "Roboto", sans-serif;
	  outline: 0;
	  background: #f2f2f2;
	  width: 100%;
	  border: 0;
	  margin: 0 0 15px;
	  padding: 15px;
	  box-sizing: border-box;
	  font-size: 14px;
	}
	#login_button {
	  font-family: "Roboto", sans-serif;
	  text-transform: uppercase;
	  outline: 0;
	  background: #5F9EA0;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  cursor: pointer;
	}
	#login_button:hover,#login_button:active,#login_button:focus {
	  background: #558e90;
	}
    #register_button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #5F9EA0;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      cursor: pointer;
	}
	#register_button:hover,#register_button:active,#register_button:focus {
	  background: #558e90;
	}
	.form .message {
	  margin: 15px 0 0;
	  color: #b3b3b3;
	  font-size: 12px;
	}
	.form .message a {
	  color: #4CAF50;
	  text-decoration: none;
	}
	.form .register-form {
	  display: none;
	}
	.container {
	  position: relative;
	  z-index: 1;
	  max-width: 300px;
	  margin: 0 auto;
	}
	.container:before, .container:after {
	  content: "";
	  display: block;
	  clear: both;
	}
	.container .info {
	  margin: 50px auto;
	  text-align: center;
	}
	.container .info h1 {
	  margin: 0 0 15px;
	  padding: 0;
	  font-size: 36px;
	  font-weight: 300;
	  color: #1a1a1a;
	}
	.container .info span {
	  color: #4d4d4d;
	  font-size: 12px;
	}
	.container .info span a {
	  color: #000000;
	  text-decoration: none;
	}
	.container .info span .fa {
	  color: #EF3B3A;
	}
	body {
	  background: #5F9EA0;
	  font-family: "Roboto", sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
</style>
<script>
	function login_func() {
        var r_username = document.getElementById("username").value;
        var r_password = document.getElementById("password").value;
         $.ajax({
            type:"GET",
            url:"/loginCheck/",
            data:{username:r_username, password:r_password,csrfmiddlewaretoken: '{{ csrf_token}}' },
             success:function(data){
                console.log(data.type)
                 if( data.type === 'student'){
                     window.location.href = '/studentWelcome';
                 }
                 if( data.type === 'teacher'){
                     window.location.href = '/teacherWelcome';
                 }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                $('#error').empty();
                $('#error').append(xhr.responseJSON.message);
            }
        })
    }

    $(document).ready(function(){

    });
</script>
</html>



